*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-kerning: auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;

  &:visited,
  &:link {
    color: inherit;
  }
}

pre {
  font-family: monospace;
}
