$--color-primary: deeppink;
$--color-info: #2196f3;
$--color-success: #4caf50;
$--color-warning: #ff9800;
$--color-error: #f44336;
$--color-shadow: #000;
$--color-transparent: rgba(255, 255, 255, 0); // Safari
